@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/*tamaño y peso para los textos*/
h1 {
  font-size: 3rem;
  font-weight: 1000;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
}

/*barra de navegacion*/
.navegacion {
  background-color: rgb(240, 240, 240);
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.navegacion .logo {
  height: 80px;
  border-radius: 50px;
}
.navegacion .nav-link:hover {
  background-color: #000000;
  color: white;
  transition: 1s;
}
.navegacion .nav-link.active:hover {
  background-color: #000000;
  color: white;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*titulos*/
.titulo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.titulo h1 {
  border-left: #7f7f7f 4px groove;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*footer*/
.footer {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  border: 10px groove;
  align-items: center;
}
.footer__txt {
  display: inline-block;
}
.footer__img {
  height: 3rem;
  margin-left: 1rem;
}
.footer__img:hover {
  transform: rotate(360deg);
  transition: 1s;
}
.footer .footer p {
  width: 800px;
}
.footer_contenido {
  display: flex;
  width: 80%;
}

.card-modelos {
  height: 300px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*botones de las cartas*/
.btn {
  border: black 2px groove;
  background: rgb(240, 240, 240);
  color: #000000;
  font-weight: 500;
  font-size: 1.3rem;
  width: 200px;
}
.btn.btn-primary:hover {
  background-color: #000000;
}

/*pagina financiacion*/
.mainFinanciacion {
  height: 700px;
}
.mainFinanciacion .financiacion__txt {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 10px;
  border-bottom: #504c4c 5px solid;
  padding: 10px;
}

.row-diaspositivas {
  justify-content: center;
}
.row-diaspositivas .carousel-item {
  padding: 20px;
}
.row-diaspositivas .btn-diaspositivas {
  width: 600px;
  height: 600px;
}

/*cartas opciones de finaciacion*/
.card-opciones {
  height: 250px;
  margin: 2rem;
  margin-top: 60%;
}

section .opcionesFinanciacion__titulo {
  display: flex;
  justify-content: center;
  margin: 1rem;
  border-bottom: #7f7f7f 5px groove;
}
section .sectionOpciones {
  height: 1200px;
}
section .card-body-opciones, section .card-body-opciones3, section .card-body-opciones2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(240, 240, 240);
}
section .card-body-opciones2 {
  background-color: rgb(255, 251, 230);
}
section .card-body-opciones3 {
  background-color: rgb(216, 204, 188);
}

/*mapa de concesionarios*/
.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapa .mapa__contenedor {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  border: 10px groove rgb(123, 122, 114);
  border-radius: 10px;
  width: 90%;
  background-color: rgb(240, 240, 240);
}
.mapa div {
  border-left: 5px groove rgb(123, 122, 114);
  margin: 10px;
}
.mapa__direccion {
  width: 100%;
  height: 700px;
}

/*formulario*/
.contact__form {
  padding: 10px;
  background-color: #181818;
  color: white;
  margin: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "izquierda derecha";
  align-items: center;
  border: 10px groove rgb(123, 122, 114);
  text-align: center;
}
.contact__form .hijos {
  padding: 10px;
}
.contact__form .checkbox {
  width: 100px;
}
.contact__form label, .contact__form input, .contact__form select, .contact__form textarea {
  width: 100%;
  padding: 5px;
}
.contact__form input:hover {
  border: 3px groove rgb(219, 189, 189);
}
.contact__form .derecha {
  grid-area: derecha;
}
.contact__form .izquierda {
  grid-area: izquierda;
}

/*media queris*/
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .footer {
    flex-direction: column;
    width: 100%;
  }

  .footer__txt {
    display: block;
  }

  .footer__img {
    height: 3rem;
    margin-left: 1rem;
  }

  .footer p {
    width: 100%;
    padding: 10px;
  }

  .contact__form {
    padding: 10px;
    background-color: #181818;
    color: white;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "izquierda " "derecha";
    align-items: center;
    border: 10px groove rgb(123, 122, 114);
    text-align: center;
  }

  .hijos {
    padding: 10px;
  }

  .checkbox {
    width: 100px;
  }

  label, input, select, textarea {
    width: 100%;
    padding: 5px;
  }

  .derecha {
    grid-area: derecha;
  }

  .izquierda {
    grid-area: izquierda;
  }

  .sectionOpciones {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .card-opciones {
    height: 250px;
    margin: 1rem;
    margin-top: 10%;
  }
}/*# sourceMappingURL=estilos.css.map */