* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.navegacion {
  background-color: rgb(240, 240, 240);
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.navegacion .logo {
  height: 80px;
  border-radius: 50px;
  -webkit-animation-name: giro;
          animation-name: giro;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.navegacion .nav-link:hover {
  background-color: #000000;
  color: white;
  transition: 1s;
}
.navegacion .nav-link.active:hover {
  background-color: #000000;
  color: white;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes giro {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes giro {
  100% {
    transform: rotate(360deg);
  }
}
.titulo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.titulo h1 {
  border-left: #7f7f7f 4px groove;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  border: 10px groove;
  align-items: center;
}
.footer__txt {
  display: inline-block;
}
.footer__img {
  height: 3rem;
  margin-left: 1rem;
}
.footer__img:hover {
  transform: rotate(360deg);
  transition: 1s;
}
.footer .footer p {
  width: 800px;
}

.btn {
  border: black 1px solid;
  background: rgb(240, 240, 240);
  color: #000000;
  font-weight: 500;
  width: 200px;
}

.btn.btn-primary:hover {
  background-color: #000000;
}

.btn_rojo {
  background: red;
  color: white;
}

.btn_blanco {
  background: rgb(251, 251, 251);
}

.btn_cobre {
  background: rgb(131, 121, 16);
  color: white;
}

.btn_azul {
  background: rgb(0, 89, 255);
  color: white;
}

.btn_gris {
  background: rgb(65, 58, 58);
  color: white;
}

.btn_azul2 {
  background: rgb(2, 11, 113);
  color: white;
}

.mainFinanciacion {
  height: 700px;
}
.mainFinanciacion .financiacion__txt {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 10px;
  border-bottom: #504c4c 5px solid;
  padding: 10px;
}

.row-diaspositivas {
  justify-content: center;
}
.row-diaspositivas .carousel-item {
  padding: 20px;
}
.row-diaspositivas .btn-diaspositivas {
  width: 600px;
  height: 600px;
}

.card-opciones {
  height: 250px;
  margin: 2rem;
  margin-top: 60%;
}

section .opcionesFinanciacion__titulo {
  display: flex;
  justify-content: center;
  margin: 1rem;
  border-bottom: #7f7f7f 5px groove;
}
section .sectionOpciones {
  height: 1200px;
}
section .card-body-opciones, section .card-body-opciones3, section .card-body-opciones2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(239, 231, 187);
}
section .card-body-opciones2 {
  background-color: rgb(248, 245, 165);
}
section .card-body-opciones3 {
  background-color: bisque;
}

.mapaContenedor {
  display: flex;
  justify-content: center;
}

.contact__form {
  padding: 10px;
  background-color: #181818;
  color: white;
  margin: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "izquierda derecha";
  align-items: center;
  border: 10px groove rgb(123, 122, 114);
  text-align: center;
}
.contact__form .hijos {
  padding: 10px;
}
.contact__form .checkbox {
  width: 100px;
}
.contact__form label, .contact__form input, .contact__form select, .contact__form textarea {
  width: 100%;
  padding: 5px;
}
.contact__form input:hover {
  border: 2px solid red;
}
.contact__form .derecha {
  grid-area: derecha;
}
.contact__form .izquierda {
  grid-area: izquierda;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .footer {
    flex-direction: column;
    width: 100%;
  }

  .footer__txt {
    display: block;
  }

  .footer__img {
    height: 3rem;
    margin-left: 1rem;
  }

  .footer p {
    width: 100%;
    padding: 10px;
  }

  .contact__form {
    padding: 10px;
    background-color: #181818;
    color: white;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "izquierda " "derecha";
    align-items: center;
    border: 10px groove rgb(123, 122, 114);
    text-align: center;
  }

  .hijos {
    padding: 10px;
  }

  .checkbox {
    width: 100px;
  }

  label, input, select, textarea {
    width: 100%;
    padding: 5px;
  }

  .derecha {
    grid-area: derecha;
  }

  .izquierda {
    grid-area: izquierda;
  }
}
@media screen and (max-width: 768px) {
  .sectionOpciones {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .card-opciones {
    height: 250px;
    margin: 1rem;
    margin-top: 10%;
  }
}/*# sourceMappingURL=estilos.css.map */