*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Nunito', sans-serif;*/
}

.grid__div{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navegacion{
    background-color: rgb(240, 240, 240);
    animation-name: aparecer;
    animation-duration: 1s;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo{
    height: 80px;
    border-radius: 50px;
    animation-name: giro;
    animation-duration: 2s;
    animation-delay: 1s;
}
@keyframes giro{
    100%{
        transform: rotate(360deg);
    }
}

.nav-link:hover{
    background-color: #000000;
    color: white;
    transition: 1s;
}
.nav-link.active:hover{
    background-color: #000000;
    color: white;
}




.titulo{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.titulo h1{
    border-left: #7f7f7f 4px groove;
}
.footer{
    background-color:  rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    border: 10px groove;
    align-items: center;
}

.footer__txt{
    display: inline-block;
}

.footer__img{
    height: 3rem;
    margin-left: 1rem;
}
.footer__img:hover{
    transform: rotate(360deg);
    transition: 1s;
}

.footer p{
    width: 800px;
}

.btn.btn-primary:hover{
    background-color: #000000;
}

.row-diaspositivas{
    justify-content: center;
}
.carousel-item{
    padding: 20px;
}

.btn-diaspositivas{
    width: 600px;
    height: 600px;
}

.financiacion__txt{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 10px;
    border-bottom: #504c4c 5px solid;
    padding: 10px;
    
}

.mainFinanciacion{
    height: 700px;
}
.card-opciones{
    height: 250px;
    margin: 2rem;
    margin-top: 60%;
}

.opcionesFinanciacion__titulo{
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-bottom: #7f7f7f 5px groove;
    
}

.card-body-opciones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sectionOpciones{
    background-image: url(../img/luxurious-black-car-riding-in-the-street-with-beautiful-sky.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1200px;
}

.mapaContenedor{
    display: flex;
    justify-content: center;
}




.contact__form{
    padding: 10px;
    background-color: #181818;
    color: white;
    margin: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "izquierda derecha";
    align-items: center;
    border: 10px groove rgb(123, 122, 114);
    text-align: center;
   
}


.hijos{
    padding: 10px;
}
.checkbox{
    width: 100px;
}
label , input , select , textarea{
    width: 100%;
    padding: 5px;
}

input:hover{
    border: 2px solid red;
}

.derecha{
    grid-area: derecha;
}

.izquierda{
    grid-area: izquierda;
}

/*media queris*/

@media screen and (max-width: 1024px){
    .grid__div{
        grid-template-columns: 1fr;
        border: none;
    }
    
}
@media screen and (max-width: 768px) {
    .grid__div{
        grid-template-columns: 1fr;
    }
    .main{
        flex-direction: column;
        align-items: center;  
        border:none;
    }
    
    .footer{
        flex-direction: column;
        width: 100%;
    }
    
    .footer__txt{
        display: block;
    }
    
    .footer__img{
        height: 3rem;
        margin-left: 1rem;
    }
    .footer p{
        width: 100%;
        padding: 10px;
    }
    
    
    .contact__form{
        padding: 10px;
        background-color: #181818;
        color: white;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: "izquierda "
                             "derecha";
        align-items: center;
        border: 10px groove rgb(123, 122, 114);
        text-align: center;
       
    }
    
    .hijos{
        padding: 10px;
    }
    .checkbox{
        width: 100px;
    }
    label , input , select , textarea{
        width: 100%;
        padding: 5px;
    }
    .derecha{
        grid-area: derecha;
    }
    
    .izquierda{
        grid-area: izquierda;
    }
    
}


@media screen and (max-width:768px) {
    .sectionOpciones{
        background-image: none;
        height: max-content;
    }
    .card-opciones{
        height: 250px;
        margin: 1rem;
        margin-top: 10%;
    }
}

@media screen and (min-width:1440px) {

}
