.contact__form{
    padding: 10px;
    background-color: #181818;
    color: white;
    margin: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "izquierda derecha";
    align-items: center;
    border: 10px groove rgb(123, 122, 114);
    text-align: center;
   
    .hijos{
        padding: 10px;
    }
    .checkbox{
        width: 100px;
    }
    label , input , select , textarea{
        width: 100%;
        padding: 5px;
    }
    input:hover{
        border: 2px solid red;
    }
    .derecha{
        grid-area: derecha;
    }
    .izquierda{
        grid-area: izquierda;
    }
}


