/*titulos*/
.titulo{
    display: flex;
    justify-content: center;
    padding: 10px;
    h1{
        border-left: #7f7f7f 4px groove;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}